In [1]:
#Addition
print(3+4)

7

In [2]:
#Subtraction
print(5-2)

3

In [3]:
#Multiplication
print(3*4)

12

In [5]:
#Integer Division
print(9//2)

4

In [7]:
#Float Division
print(9/2)

4.5

In [10]:
#String Addition
print("Dev"+"leena")

Devleena

In [11]:
#String Multiplication
print("Dev"*3)

DevDevDev

## Comparison Operator

In [12]:
3<4

True

In [13]:
4>1

True

In [14]:
34*34>22*12

True

In [15]:
34==34

True

In [16]:
56==23

False

## Logical Operand

In [20]:
#And Operator
3 and 4  #both are true so it returns the second operator

4

In [23]:
0 and 3 #first is false  so it returns the false

0

In [25]:
3 and 0  #first is not false, second is false  so it returns the false

0

In [27]:
#or operand
3 or 4 #if first operand is true, it will return 3

3

In [28]:
0 or 3 #first is false and second is true so it returns the true

3

In [31]:
3 and 0  #first is not false, second is false  so it returns the second operator

0

## Conditional Statements

In [36]:
#If Else Statement
a=3
b=4
if a>b:
    print("a is greater")
elif (a==0):
    print("a=0")
else:
    print("b is greater")

b is greater

## Loops

In [42]:
#Print all numbers between 10 and 50
for i in range(11,50):
        print (i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [44]:
#Print all odd numbers between 10 and 50
for i in range(10,50):
        if (i%2!=0):
            print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [46]:
#Print all odd numbers between 10 and 50
for i in range(11,50,2):
            print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

## Function

In [51]:
#function to write area of the circle
def area_circle(rad):
    return (3.14*rad*rad)

In [48]:
print(area_circle(3))

28.259999999999998

In [49]:
print(area_circle(9))

254.34

In [50]:
print(area_circle(4))

50.24