### map() function returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [12]:
def cube(x):
    return x*x*x

In [20]:
num=(3,4,5,6)

In [21]:
lst1=[1,2,9]

In [22]:
tup1=(7,8,12)

In [26]:
result=list(map(cube,tup1))

In [27]:
print(result)

[343, 512, 1728]

In [17]:
print(result)  #for num value

[27, 64, 125, 216]

In [28]:
even=lambda x:x%2==0

In [29]:
print(even(2))

True

In [30]:
print(even(5))

False

In [31]:
sum=lambda x,y:x+y

In [35]:
print(sum(4,5))

9

### the filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.

In [45]:
seq=[3,4,2,5,6,7]

In [52]:
even=list(filter(lambda x:x%2==0,seq))

In [54]:
odd=list(filter(lambda x:x%2,seq))

In [51]:
print(even)

[4, 2, 6]

In [58]:
print(odd)

[3, 5, 7]

In [59]:
import functools as ft

### reduce() accepts a function and returns a single value

In [64]:
sum=ft.reduce(lambda x,y:x+y,[1,2,3,4,5])

In [65]:
print(sum)

15

In [66]:
generator = (num ** 2 for num in range(10))

In [67]:
gen = (i for i in range(10000))